<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!user">
    <ion-button (click)="loginWithGoogle()">Iniciar sesión con Google</ion-button>
  </div>
  <div *ngIf="user">
    <p>Hola, {{ user.displayName }}</p>
    <ion-button (click)="logout()">Cerrar sesión</ion-button>
  </div>
</ion-content>