<ion-header [translucent]="true" mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Favoritos
    </ion-title>
    <ion-button slot="end" [routerLink]="'/login'">Ir a Login</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" mode="ios" class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large">Encabezados</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-articles [arrayArticulosEnComponente]="articulosFavoritos"></app-articles>

  <!-- <ion-infinite-scroll #infiniteComponente (ionInfinite)="cargarMasFvoritos()">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
</ion-content>